<ion-tabs>
  <ion-tab-bar slot="top">
    <div class="app-title">DAH APP</div>
    
    <div class="tabs-center">
      <ion-tab-button tab="clients" href="/tabs/clients">
        <ion-label><ion-icon name="people"></ion-icon> Clientes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="reservations" href="/tabs/reservations">
        <ion-label><ion-icon name="calendar"></ion-icon> Reservas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="products" href="/tabs/products">
        <ion-label><ion-icon name="cube"></ion-icon> Productos</ion-label>
      </ion-tab-button>
    </div>

    <ion-button (click)="logout()" fill="clear" class="logout-btn">
      Cerrar Sesión
    </ion-button>
  </ion-tab-bar>

  <ion-router-outlet></ion-router-outlet>
</ion-tabs>
